.cache/
*.cmd
.config
.hw/
*.ko
*.log
*mod.c
*.cmd
*.o
*.pyc
*.so
.symvers
.tmp_versions/
*.xpr
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.status
conf/compile
conf/config.guess
conf/config.sub
conf/install-sh
conf/missing
configure
download/
fpga/device-tree-xlnx*/
Kbuild
lib/
linux
Makefile
Makefile.in
projects/*/logic/vivado_project/
projects/*/logic/out/
projects/*/logic/sdk/
projects/*/logic/red_pitaya_def_val.txt
projects/*/logic/red_pitaya_dump.txt
projects/*/logic/webtalk.jou
projects/*/src/Module.symvers
projects/*/src/modules.order
projects/*/src/w7x_timing_test
stamp-h1
toolchain/
uImage
