#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "linux-socdev - Linux drivers build system for SoC devices"


# //////////////////////////////////////////////////////////////////////////// #
# //  TOOLCHAIN  ///////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

config ENABLE_TOOLCHAIN
        bool "Enable custom toolchain"
        default true

menu  TOOLCHAIN
        depends on ENABLE_TOOLCHAIN

  choice TOOLCHAIN_SOURCE
        prompt "Select the toolchain retrieve method"
        depends on ENABLE_TOOLCHAIN
        config WITH_TOOLCHAIN_TAR_URL
         bool "download tar from url"
  endchoice

  config TOOLCHAIN_TAR	
	  string "get url path of a valid toolchain tar file"
	  depends on ENABLE_TOOLCHAIN
	  depends on WITH_TOOLCHAIN_TAR_URL	  
	  default "http://releases.linaro.org/14.11/components/toolchain/binaries/arm-linux-gnueabihf/gcc-linaro-4.9-2014.11-x86_64_arm-linux-gnueabihf.tar.xz"
  
  config TOOLCHAIN_BINDIR
          string  "toolchain bin path relative to the toolchain dir"
          depends on ENABLE_TOOLCHAIN
          default "gcc-linaro-4.9-2014.11-x86_64_arm-linux-gnueabihf/bin"
          
  config CROSS_COMPILE
          string "toolchain prefix of build executables"
          depends on ENABLE_TOOLCHAIN
          default "arm-linux-gnueabihf-"
  
endmenu # TOOLCHAIN


# //////////////////////////////////////////////////////////////////////////// #
# //  FPGA  ////////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #


source fpga/Kconfig


# //////////////////////////////////////////////////////////////////////////// #
# //  LINUX  ///////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

menu LINUX_BUILD
  config LINUX_DIR
	string  "Linux sources directory name"
	default "linux"

  config LINUX_DIR_IN_SRCTREE
	bool    "Place linux sources in src tree"
	default n

  choice LINUX_DLMETHOD
	prompt "Linux sources download method"
	config WITH_LINUX_GIT
	 bool "git repository"
	config WITH_LINUX_TAR
	 bool "tar archive (not working yet)"
  endchoice

  config LINUX_GIT
	string  "Linux git repository"
	depends on WITH_LINUX_GIT
	default "https://github.com/Xilinx/linux-xlnx.git"

  config LINUX_TAR
	string  "Linux tar repository"
	depends on WITH_LINUX_TAR
	default ""

  choice LINUX_PACKAGE
	prompt  "Linux image type"
	config LINUX_UIMAGE
	 bool "uImage"
	config LINUX_ZIMAGE
	 bool "zImage"
  endchoice

  config LINUX_UIMAGE_LOADADDR
	string  "Linux uImage load address defined in u-boot"
	depends on LINUX_UIMAGE
	default "0x8000"

  config LINUX_DEF_CONFIG
	string  "Linux def config"
	default "xilinx_zynq_defconfig" if WITH_SOC_RED_PITAYA
	default "parallella_defconfig"  if WITH_SOC_PARALLELLA

  config MAKE_PROCESS
      int "Number of parallel process (aka -j option)"
      range 1 16
      default 8

  config LINUX_CFLAGS
      string  "linux and modules compiler flags"
      default "-O2 -mtune=cortex-a9 -mfpu=neon -mfloat-abi=hard"


endmenu # LINUX_BUILD


# //////////////////////////////////////////////////////////////////////////// #
# //  DOCKER  //////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

config ENABLE_DOCKER
        bool "Enable docker build"

menu   DOCKER_BUILD
        depends on ENABLE_DOCKER

  choice DOCKER_BUILD
        prompt "Select the docker build method"
        depends on ENABLE_DOCKER
        config WITH_DOCKER_IMAGE
         bool "Pull docker image"
        config WITH_DOCKER_CONTAINER
         bool "Start existing docker container"
        config WITH_DOCKER_URL
         bool "Create from url with a Dockerfile"
  endchoice

  config DOCKER_IMAGE
        string "Docker image"
        depends on ENABLE_DOCKER
        depends on WITH_DOCKER_IMAGE
        default "mdsplus/docker:build_fc22"

  config DOCKER_CONTAINER
        string "Container name or ID"
        depends on ENABLE_DOCKER
        depends on WITH_DOCKER_CONTAINER

  config DOCKER_URL
        string "Url"
        depends on ENABLE_DOCKER
        depends on WITH_DOCKER_URL
        default "."

endmenu # DOCKER_BUILD


# //////////////////////////////////////////////////////////////////////////// #
# //  TARGET_DEVICE  ///////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

menu TARGET_DEVICE

    config DEVICE_NAME
          string  "Enter device name"
          
    config DEVICE_IP
          string  "Enter device IP address"
          
    config DEVICE_ACCESS
          string  "Enter device access method"
          default "sftp"
          
    config DEVICE_USER
          string  "User to connect device with"
          default "root"

    choice DEVICE_AUTHMETHOD
          prompt "Select device authentication method"
          config WITH_DEVICE_SSHPASSWD
           bool "Auth on device using password"
          config WITH_DEVICE_SSHKEY
           bool "Auth on device using ssh keyid"
    endchoice

    config DEVICE_PASSWD
          string  "User password to autenticate user"
          depends on WITH_DEVICE_SSHPASSWD
          default "root"

    config DEVICE_SSHKEY
          string  "User rsa_key to autenticate"
          depends on WITH_DEVICE_SSHKEY
          default "$HOME/.ssh/id_rsa"

    config DEVICE_MODULES_DIR
          string  "Target device modules directory"
          default "/lib/modules"

    config DEVICE_BOOT_DIR
	  string  "Target device boot directory"
	  default "/boot"

endmenu # TARGET_DEVICE


