# ////////////////////////////////////////////////////////////////////////// //
#
# This file is part of the autoconf-bootstrap project.
# Copyright 2018 Andrea Rigoni Garola <andrea.rigoni@igi.cnr.it>.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# ////////////////////////////////////////////////////////////////////////// //



#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "autoconf-bootstrap  Start new autoconf kconfig project"


comment "Project Options (add here)"

# //////////////////////////////////////////////////////////////////////////// #
# //  EXAMPLES  ////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

menu EXAMPLES

menu MDS_MODULES
	config MDS_JAVA
	bool "Enable java module"
	default y

	config MDS_LV
	bool "Enable labview module"
	default n

	config MDS_NI
	bool "Enable National Instruments module"
	default n
endmenu

menu MODULES
	config MOD1
	 bool "Enable mod1 module"
	config MOD2
	 bool "Enable mod2 module"
	config MOD3
	 bool "Enable mod3 module"
endmenu


config EXAMPLE_BOOL_VAR
	bool "Set a example bool variable"
	---help---
	      This is an example bool variable define within the kconfig
	      autoconf addon.

config EXAMPLE_STRING_VAR
	string "get value for EXAMPLE_STRING_VAR"
	---help---
	      This is an example string variable define within the kconfig
	      autoconf addon.

endmenu

comment "Build Options"

# //////////////////////////////////////////////////////////////////////////// #
# //  BUILD_COMMON  ////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/build_common.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  TOOLCHAIN  ///////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/toolchain.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  DOCKER  //////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/docker.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  QT  //////////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/qtdesktop.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  NODEJS  //////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/nodejs.kconfig

# //////////////////////////////////////////////////////////////////////////// #
# //  DOXYGEN  /////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/autoconf-doxygen/doxygen.kconfig


# //////////////////////////////////////////////////////////////////////////// #
# //  EXT  /////////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

menuconfig  ENABLE_EXTSRC
	 bool "ext sources"
	 default y
	 ---help---
	  Enable optional external software sources to be embedded in project

if ENABLE_EXTSRC

  # //  LIBJIT  //
  source conf/kscripts/ext_libjit.kconfig

  # //  LLVM  //
  source conf/kscripts/ext_llvm.kconfig

  # //  CCSTICKERS  //
  source conf/kscripts/ext_ccStickers.kconfig

  # //  NODEJS_NODE  //
  source conf/kscripts/ext_nodejs_node.kconfig

  # //  MDSPLUS  //
  source conf/kscripts/ext_mdsplus.kconfig

endif # ENABLE_EXTSRC


# //////////////////////////////////////////////////////////////////////////// #
# //  YOCTO  ///////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

  source conf/kscripts/yocto.kconfig













