<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <name>makeutils</name>
      <pkg_require>Vivado 2017.2</pkg_require>
      <author>&apos;Andrea Rigoni&apos;</author>
      <company>socdev</company>
      <company_display>Mildstone</company_display>
      <summary>Mildstone Anacleto - vivado project managenment</summary>
      <display>Scripts to handle Automake project sync</display>
      <procs>
        <proc>
          <name>my_command1</name>
          <summary>Multi-lines summary of &#10;what the proc is doing</summary>
        </proc>
        <proc>
          <name>my_command2</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>my_command3</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
