#
# template generated script
#
echo
echo " ------------------------------ "
echo "> VERSION = ${VERSION}"
echo "> top_srcdir = ${top_srcdir}"
echo "> top_builddir = ${top_builddir}"
echo "> USER    = ${USER}"
echo "> N_USER  = \${USER}"
echo "> UNDEF   = ${UNDEF:-undef}"
echo "> \$       = $"
echo "> \$\$      = $$"
echo "> \$0      = $0"
echo "> \$1      = $1"
echo "> \$@      = $@"
echo " ------------------------------ "
echo
