## ////////////////////////////////////////////////////////////////////////// //
##
## This file is part of the anacleto project.
## Copyright 2018 Andrea Rigoni Garola <andrea.rigoni@igi.cnr.it>.
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.
##
## ////////////////////////////////////////////////////////////////////////// //



# //////////////////////////////////////////////////////////////////////////// #
# //  FPGA  ////////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

menuconfig ENABLE_FPGA
	bool "Enable FPGA development toolchain"
	default y

if ENABLE_FPGA

  ## ///////////////////////////////////////////////////////////////////////////
  ## //  PRESETS  //////////////////////////////////////////////////////////////
  ## ///////////////////////////////////////////////////////////////////////////
  menu "Enabled SOC boards"

  menuconfig ENABLE_BOARD_RED_PITAYA
	bool "STEMLab Red Pitaya"
	default y
  if ENABLE_BOARD_RED_PITAYA
	config red_pitaya_BOARD_PART
	 string "board part"
	 default "redpitaya.com:redpitaya:part0:1.1"
	config red_pitaya_BOARD_PRESET
	 string "Preset tcl"
	 default "${srcdir}/fpga/brd/red_pitaya/presets/zynq_rp1.1.tcl"
	config red_pitaya_VIVADO_SOC_PART
	 string "SoC part"
	 default "xc7z010clg400-1"
  endif

  menuconfig ENABLE_BOARD_ZYBO
	bool "Digilent Zybo"
	default y
  if ENABLE_BOARD_ZYBO
	config zybo_BOARD_PART
	 string "board part"
	 default "digilentinc.com:zybo:part0:1.0"
	config zybo_BOARD_PRESET
	 string "Preset tcl"
	 default "${srcdir}/fpga/brd/zybo/presets/ZYBO_C.tcl"
	config zybo_VIVADO_SOC_PART
	 string "SoC part"
	 default "xc7z010clg400-1"
  endif

  endmenu

  choice BOARD
	prompt "Default"
	config WITH_SOC_RED_PITAYA
	 depends on ENABLE_BOARD_RED_PITAYA
	 bool "red_pitaya"
	config WITH_SOC_ZYBO
	 depends on ENABLE_BOARD_ZYBO
	 bool "zybo"
	config WITH_SOC_CUSTOM
	 bool "custom"
  endchoice

  if WITH_SOC_CUSTOM
  config BOARD_PART
	string "board part"
  config BOARD_PRESET
	string "Board preset init template"
  config VIVADO_SOC_PART
   string "Vivado soc part"
   default "xc7z010clg400-1"
  endif # custom



## ////////////////////////////////////////////////////////////////////////////////
## //  VIVADO  ////////////////////////////////////////////////////////////////////
## ////////////////////////////////////////////////////////////////////////////////

  choice VIVADO_VERSION
	prompt "Vivado version yyyy.v "
	config VIVADO_VERSION_2015_4
	 bool  "2015.4"
	config VIVADO_VERSION_2016_2
	 bool  "2016.2"
	config VIVADO_VERSION_2016_4
	 bool  "2016.4"
	 config VIVADO_VERSION_2017_1
	 bool  "2017.1"
	 config VIVADO_VERSION_2017_2
	 bool  "2017.2"
	 config VIVADO_VERSION_2017_4
	 bool  "2017.4"
	 config VIVADO_VERSION_2018_1
	 bool  "2018.1"
	 config VIVADO_VERSION_2018_2
	 bool  "2018.2"
  endchoice

  choice VIVADO_SETUP_METHOD
	prompt "Select Vivado setup method"
	config VIVADO_SETUP_METHOD_BASEPATH
	 bool "Xilinx base path"
	config VIVADO_SETUP_METHOD_SCRIPTS
	 bool "Setup scripts"
  endchoice

  if VIVADO_SETUP_METHOD_BASEPATH
  config XILINX_BASE_PATHDIR
	string "Setup the base Xilinx path directory"
	default "/opt/Xilinx"
  endif # BASEPATH

  if VIVADO_SETUP_METHOD_SCRIPTS
  config VIVADO_SETUP_SCRIPT
	string "Setup script to set vivado environments"
	default "/opt/Xilinx/Vivado/2015.4/settings64.sh" if VIVADO_VERSION_2015_4
	default "/opt/Xilinx/Vivado/2016.1/settings64.sh" if VIVADO_VERSION_2016_1
	default "/opt/Xilinx/Vivado/2016.2/settings64.sh" if VIVADO_VERSION_2016_2
	default "/opt/Xilinx/Vivado/2016.4/settings64.sh" if VIVADO_VERSION_2016_4
	default "/opt/Xilinx/Vivado/2017.1/settings64.sh" if VIVADO_VERSION_2017_1
	default "/opt/Xilinx/Vivado/2017.2/settings64.sh" if VIVADO_VERSION_2017_2
	default "/opt/Xilinx/Vivado/2017.4/settings64.sh" if VIVADO_VERSION_2017_4
	default "/opt/Xilinx/Vivado/2018.1/settings64.sh" if VIVADO_VERSION_2018_1
	default "/opt/Xilinx/Vivado/2018.2/settings64.sh" if VIVADO_VERSION_2018_2

  config VIVADO_SDK_SETUP_SCRIPT
	string "Setup script to set vivado SDK environments"
	default "/opt/Xilinx/SDK/2015.4/settings64.sh" if VIVADO_VERSION_2015_4
	default "/opt/Xilinx/SDK/2016.1/settings64.sh" if VIVADO_VERSION_2016_1
	default "/opt/Xilinx/SDK/2016.2/settings64.sh" if VIVADO_VERSION_2016_2
	default "/opt/Xilinx/SDK/2016.4/settings64.sh" if VIVADO_VERSION_2016_4
	default "/opt/Xilinx/SDK/2017.1/settings64.sh" if VIVADO_VERSION_2017_1
	default "/opt/Xilinx/SDK/2017.2/settings64.sh" if VIVADO_VERSION_2017_2
	default "/opt/Xilinx/SDK/2017.4/settings64.sh" if VIVADO_VERSION_2017_4
	default "/opt/Xilinx/SDK/2018.1/settings64.sh" if VIVADO_VERSION_2018_1
	default "/opt/Xilinx/SDK/2018.2/settings64.sh" if VIVADO_VERSION_2018_2
  endif # SCRIPTS

  config DEVICETREE_BASEFILES_TAR
	string "Device tree base files"
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2015.4.tar.gz" if VIVADO_VERSION_2015_4
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2016.2.tar.gz" if VIVADO_VERSION_2016_2
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2016.4.tar.gz" if VIVADO_VERSION_2016_4
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2017.1.tar.gz" if VIVADO_VERSION_2017_1
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2017.2.tar.gz" if VIVADO_VERSION_2017_2
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2017.4.tar.gz" if VIVADO_VERSION_2017_4
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2018.1.tar.gz" if VIVADO_VERSION_2018_1
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2018.2.tar.gz" if VIVADO_VERSION_2018_2


#  config VIVADO_LICENSE_PATH
#        string "Path to the vivado system folder"
#        default ""

endif # FPGA
