# //////////////////////////////////////////////////////////////////////////// #
# //  FPGA  ////////////////////////////////////////////////////////////////// #
# //////////////////////////////////////////////////////////////////////////// #

config ENABLE_FPGA
	bool "Enable fpga development"
	default y

menu  FPGA
	depends on ENABLE_FPGA


  choice VIVADO_VERSION
	prompt "Vivado version yyyy.v "
	config VIVADO_VERSION_2015_4
	 bool  "2015.4"
	config VIVADO_VERSION_2016_2
	 bool  "2016.2"
  endchoice

  config VIVADO_SETUP_SCRIPT
	string "Setup script to set vivado environments"
	default "/opt/Xilinx/Vivado/2015.4/settings64.sh" if VIVADO_VERSION_2015_4
	default "/opt/Xilinx/Vivado/2016.2/settings64.sh" if VIVADO_VERSION_2016_2

  config VIVADO_SDK_SETUP_SCRIPT
	string "Setup script to set vivado SDK environments"
	default "/opt/Xilinx/SDK/2015.4/settings64.sh" if VIVADO_VERSION_2015_4
	default "/opt/Xilinx/SDK/2016.2/settings64.sh" if VIVADO_VERSION_2016_2


  config DEVICETREE_BASEFILES_TAR
	string "Device tree base files"
	default "https://github.com/Xilinx/device-tree-xlnx/archive/xilinx-v2015.4.tar.gz" if VIVADO_VERSION_2015_4

  config VIVADO_SOC_PART
	string "Vivado soc part to load in project"
	default "xc7z010clg400-1" if WITH_SOC_RED_PITAYA
	default "xc7z010clg400-1" if WITH_SOC_PARALLELLA

#  config VIVADO_LICENSE_PATH
#        string "Path to the vivado system folder"
#        default ""

endmenu # FPGA
